---
auth:
  username: "myuser"
  postgresPassword: "***"
  password: "***"
  database: "mydb"
primary:
  initdb:
    user: "postgres"
    password: "***"
    scripts:
      init.sql: |
        ALTER ROLE myuser CREATEROLE;
        CREATE ROLE langfuse_user WITH LOGIN PASSWORD '***';
        GRANT USAGE, CREATE ON SCHEMA public to langfuse_user;
        CREATE DATABASE langfuse WITH OWNER langfuse_user;
        CREATE DATABASE langfuse_shadow WITH OWNER langfuse_user;

        ALTER DATABASE langfuse SET TIMEZONE TO 'UTC';
        ALTER DATABASE langfuse_shadow SET TIMEZONE TO 'UTC';
