---
postgresql:
  deploy: false
  host: postgresql.postgres-helm
  auth:
    username: langfuse_user
    password: "***"
    database: langfuse
  directUrl: postgresql://langfuse_user:***@postgresql.postgres-helm:5432/langfuse
  shadowDatabaseUrl: postgresql://langfuse_user:***@postgresql.postgres-helm:5432/langfuse_shadow
